<div id="wishlist-guru-trending-widget"></div>

<script src="{{ 'trending_widget.js' | asset_url }}" defer ></script>

{% schema %}
  {
    "name": "Trending Widget",
    "target": "section",
    "enabled_on": {
      "templates": ["*"]
    },
    "stylesheet": "console-button.css",
    "settings": []
  }
{% endschema %}