.main-div {
    background-color: black;
    height: 45px;
    width: 100%;
    box-shadow: 0px 0px 10px gray;
    border-bottom: 1px solid gray;
    line-height: 40px;
    color: white;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Trebuchet MS';
    padding-left: 20px;
    position: fixed;
    z-index: 99;
}

.main-div a {
    text-decoration: none;
    list-style: none;
    color: white;
    margin-left: 60%;

}

.main-div a:hover {
    color: gray;
}



.items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.items div {
    width: 30%;
    flex-grow: 1;
    text-align: center;
    padding: 20px 10px;
    margin: 10px 1%;
    box-shadow: 0px 0px 10px gray;
}

.items h2 {
    font-size: 20px;
    font-weight: 500;
}

.items h3 {
    font-size: 15px;
    font-weight: 300;
}

.sidebar {
    background-color: black;
    width: 150px;
    height: 90vh;
    margin: 0px;
    padding: 0px;
    position: fixed;
    line-height: 60px;
}

.sidebar a {
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0px 15px;
}

.sidebar a:hover {
    color: gray;
}

.underHeader .Polaris-Button {
    float: right;
}

.optionBox {
    column-count: 2;
    column-gap: 10px;
}

.optionBox div {
    margin-bottom: 15px;
}

.inside-button-div {
    display: -webkit-inline-box;
    width: 100%;
}

.inside-button-div-fill-heart {
    width: 15px;
    height: 15px;
    background-image: url("../assets/heart.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 9px;
}

.imgHeart {
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 5px;
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);

}

/* .default-regular-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: black;
    text-align: center;
    height: 40px;
    width: 100%;
    padding: 25px;
    margin: 15px;
    cursor: pointer;
} */

/* .default-active-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellowgreen;
    color: black;
    text-align: center;
    height: 40px;
    width: 100%;
    padding: 25px;
    margin: 15px;
    cursor: pointer;
} */


.button {
    border: none;
    cursor: pointer;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 100%;
}

.Polaris-LegacyStack {
    justify-content: space-between;

}

.Polaris-LegacyStack__Item label {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.Polaris-LegacyStack__Item label span {
    display: flex;
    grid-gap: 10px;
}

.Polaris-LegacyStack__Item span.Polaris-Choice__Control {
    margin: 0;
}

.Polaris-LegacyStack__Item button.button {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
}

.Polaris-LegacyStack__Item button.button span {
    display: flex;
    align-items: center;
}

.color-boxx {
    background-color: rgb(206, 204, 204);
    position: absolute;
    top: 360px;
    left: 230px;
    z-index: 30;
    padding: 10px;

}

.color-boxx span {
    float: right;
    margin-top: -10px;
    margin-left: 5px;
    background-color: black;
    color: white;
    padding: 3px 5px;
    cursor: pointer;
}

.save-button {
    background-color: black;
    color: white;
    height: 40px;
    line-height: 40px;
    border: none;
    position: absolute;
    right: 58px;
    top: 30px;
    border-radius: 7px;
    font-weight: 900;
    cursor: pointer;
    padding: 0px 20px;
}

.input-field-css {
    height: 30px;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid rgb(161, 160, 160);
    border-radius: 5px;
}

.input-field-css:focus {
    outline: none !important;
    border: 1px solid rgb(161, 160, 160);
    box-shadow: 0 0 5px #424242;
}

.Polaris-Page {
    padding: 0px;
}

.button-color button.Polaris-Button {
    background: green;
    color: white;

}

.custom-request-form {
    display: flex
}

.custom-request-form .Polaris-ButtonGroup {
    align-items: center;
}

section.Polaris-Box span.errorMessageColor {
    color: red;
    line-height: 30px;
}

section.Polaris-Box .Polaris-textarea-message {
    margin: 15px 0;
}

span.pro-plan {
    /* background: #334fb4; */
    color: #fff;
    padding: 3px 10px;
    border-radius: 30px;
    margin-left: 0px;
    margin-bottom: 2px;
}

span.basic-plan {
    margin-bottom: 2px;
}

.wf-showCount-box.customcode-toggle {
    align-items: flex-start;
    margin: 0 20px 0 0px;
}

.chat-major {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-major svg {
    width: 18px;
    margin-right: 5px;
}

/* / / -----------------june 1 css for the about page----------------- / / */

.header-save {
    background-color: #424242;
    height: 50px;
    width: 100%;
    line-height: 50px;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: right;
}

.header-save button {
    background-color: black;
    color: white;
    padding: 8px 20px !important;
    border: none;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    margin: 6px 9% 6px 0;
    line-height: 1;
}

.record-per-page {
    background-color: rgb(199, 198, 198);
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    right: 75px;
    margin-top: -60px;
}

.text-button-main {
    animation-name: shaker;
    animation-duration: 0.2s;
    transform-origin: 50% 50%;
    animation-timing-function: linear;
}

.text-button-main-up {
    animation-name: shakerVerticle;
    animation-duration: 0.2s;
    transform-origin: 50% 50%;
    animation-timing-function: linear;
}

.text-button-main-ripple {
    animation-name: spinner;
    animation-duration: 500ms;
    animation-timing-function: linear;
}

.text-button-main-fade_in {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.text-button-main-fade_out {
    animation: fadeInAnimation1 ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.animation-shake-side {
    animation-name: shaker;
    animation-duration: 0.2s;
    transform-origin: 50% 50%;
    animation-timing-function: linear;
}

.animation-shake-side:hover {
    opacity: 1
}

@keyframes shaker {
    0% {
        transform: translate(20px, 0);
    }

    25% {
        transform: translate(-20px, 0);
    }

    50% {
        transform: translate(20px, 0);
    }

    75% {
        transform: translate(-20px, 0);
    }

    100% {
        transform: translate(20px, 0);
    }
}

.animation-shake-up {
    animation-name: shakerVerticle;
    animation-duration: 0.2s;
    transform-origin: 50% 50%;
    animation-timing-function: linear;
}


@keyframes shakerVerticle {
    0% {
        transform: translate(0, 20px);
    }

    25% {
        transform: translate(0, -20px);
    }

    50% {
        transform: translate(0, 20px);
    }

    75% {
        transform: translate(0, -20px);
    }

    100% {
        transform: translate(0, 20px);
    }
}

.animation-rotate {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
    animation-name: spinner;
    animation-duration: 500ms;
    animation-timing-function: linear;
}


@keyframes spinner {
    from {
        transform: rotateZ(0) rotateX(360deg);
    }

    to {
        transform: rotateZ(360deg) rotateX(-360deg);
    }
}

.animation-fade_in {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animation-fade_out {
    animation: fadeInAnimation1 ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.heart-icon-div {
    background-image: url("../assets/heart.svg");
}

.icon-main {
    display: inline-flex;
    margin-top: -50px;
    margin-left: 15px;
}


.skeleton-div .heart-icon-div {
    width: 20px;
    height: 20px;
    background-image: url("../assets/heart.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 5px;
}

.colorSelectorDiv {
    background-color: red;
    width: 400px;
}

select {
    height: 30px;
    border-radius: 5px;
    font-size: 13px;
}


.choose-icon-div {
    column-count: 3;
    column-gap: 10px;
    margin-top: -15px;
}

.chooseicon,
.chooseicon2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    /* border-radius: 10px; */
    border: none;
    cursor: pointer;
}

.chooseicon2 {
    width: 24px;
    height: 23px;

}


.skeleton-div .chooseicon {
    margin-top: 0px;
}


.heartICON {
    background-image: url("../assets/heart_empty_.svg");
}

.starICON {
    background-image: url("../assets/star.svg");
}

.saveICON {
    background-image: url("../assets/save.svg");
}

.heartICON2 {
    background-image: url("../assets/heartBlack.svg");
}

.starICON2 {
    background-image: url("../assets/heart_fill_.svg");
}

.saveICON2 {
    background-image: url("../assets/saveBlack.svg");
}

.icon-shake-side {
    animation-name: shaker;
    animation-duration: 0.2s;
    transform-origin: 50% 50%;
    animation-timing-function: linear;
}

.icon-shake-up {
    animation-name: shakerVerticle;
    animation-duration: 0.2s;
    transform-origin: 50% 50%;
    animation-timing-function: linear;
}

.icon-rotate {
    animation-name: spinner;
    animation-duration: 500ms;
    animation-timing-function: linear;
}

.icon-fade_in {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.icon-fade_out {
    animation: fadeInAnimation1 ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.inputColorMargin {
    margin-top: -20px;
}


.Polaris-Header-Title__TitleWithSubtitle {
    margin-top: 30px;
}


/* .customColorBox {
    position: absolute;
    right: 0;
    z-index: 9999;
} */
.customColorBox {
    position: absolute;
    right: 44px;
    z-index: 9999;
    bottom: 0px;
}

/* .hoverBg .customColorBox , .hoverText .customColorBox , .hoverBdr .customColorBox{ */

.inputColorCustomBox .customColorBox {
    margin-left: -190px;
    top: -175px;
}



.customColorBox span {
    /* float: right; */
    margin-top: -15px;
    margin-right: 0px;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 2px 6px;
    border-radius: 20px;
    cursor: pointer;
}


.inputColorCustom {
    display: flex;
}


.inputColorCustom .customColorBox {
    /* margin-top: -130px; */
    margin-left: -220px;
    top: -35px;
}

.boxBdr .customColorBox {
    margin-left: 0px;
    right: 33rem;
    top: 5rem;
}

.inputColorCustomBox {
    display: flex;
}

.inputColorCustomBox.hoverBg,
.inputColorCustomBox.hoverText {
    display: inline-flex;
}

.Polaris-Collapsible {
    border-radius: 10px;
}

.customCodeBox {
    column-count: 2;
}

textarea {
    width: 100%;
    height: 120px;
}

/* / -----------------------------  style for custom style component ----------------------------- / */

.custom-style-main-div {
    column-count: 2;
}


.custom-style-main-div div input {
    width: 100%;
}


input[type="color"] {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0px;
    border: 2px solid rgb(216, 215, 215);
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.linkCss {
    color: #3054f7;
    text-decoration: underline;
    cursor: pointer;
}

.css-input-div {
    width: 40px;
    text-align: center;
    /* background-color: skyblue; */
    position: relative;
    margin-right: 3px;
}

.css-input-field {
    width: 40px;
    margin-right: 3px;
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid rgb(161, 160, 160);
    border-radius: 5px;
    text-align: center;
}

.css-input-label {
    font-size: 7px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 25px;
}

.toggleBox {
    padding: 10px;
    background-color: #ebeaea;
}

/* label {
    cursor: pointer;
} */
/* option {
    cursor: pointer; 
} */
select {
    cursor: pointer;
}

div#basic-collapsible\ collapse-hover {
    width: 50%;
}



/* / -------------------pricing plan------------------ / */

.addPlanBtn {
    margin-top: 10px;
}


.basicClass {
    height: auto;
}

.disableEverything {
    pointer-events: none;
    color: #9f9f9f;
    position: relative;
    opacity: 0.7;
    /* cursor: not-allowed !important; */
}


/* -----------20-12-2023---------- */

.enable-app button {
    background-color: orangered;
    color: white;

}

.enable-app button:hover {
    background-color: rgb(255, 102, 46);
}

.disable-app button {
    background-color: black;
    color: white;
    cursor: pointer;
}

.disable-app button:hover {
    background-color: #645151;
}

.disableEverything input {
    color: #9f9f9f;
}

/* .disableEverything .rsw-editor {
    pointer-events: none !important;
    color: #9f9f9f;
} */

.disableOneByOne {
    pointer-events: none;
    color: #9f9f9f;
    opacity: 0.7;
}

.disableOneByOne input {
    color: #9f9f9f;
}

.disableOneByOne select {
    color: #9f9f9f;
}

/* .upgradeButton {
    height: 40px;
    width: 100px;
    background-color: rgb(163, 18, 18);
    box-shadow: 0px 0px 5px gray;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    text-align: center;
    line-height: 39px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer !important;
    pointer-events: all;
    opacity: 0.8;
}

.upgradeButton:hover {
    background-color: rgb(117, 12, 12);
    box-shadow: 0px 0px 5px gray;
} */

.displayNone {
    display: none;
}


/* --------------------- 24-11-2024 ----------------------- */


.toggleBox.wishlist-ui .wishlist-ui-style {
    position: absolute !important;
}

.wishlist-ui .inputColorCustom.wish-uil .customColorBox {
    margin-left: 450px;
}

.wishlist-ui .inputColorCustom.wish-ui .customColorBox {
    margin-left: 220px;
}

.Polaris-ColorPicker__HuePicker {
    z-index: 99;
}

.notification-style .customColorBox {
    margin-left: 55px;
}

.notifiction-style-2 .customColorBox {
    margin-left: -185px;
}

.boxBdr .customColorBox {
    right: 31rem;
}


/* ----------------saturday work---------------- */

/* .youtubeBox {
    height: 300px !important;
} */


.quick-access {
    padding: 20px 20px;
    background-color: white;
    border-radius: 10px;
}

.cursor-pointer {
    /* cursor: pointer; */
    /* padding: 15px 15px; */
    /* background-color: rgb(234, 232, 232); */
    background-color: rgb(239, 29, 29) !important;

    border-radius: 10px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.cursor-pointer .Polaris-Box:hover {
    background-color: white;
}

.cursor-pointer:hover {
    /* background-color: red !important; */
    box-shadow: 0px 0px 5px gray;
}

.recharts-legend-item {
    background-color: rgb(241, 241, 241);
    padding: 2px 7px;
    border-radius: 3px;
    font-weight: 700;
    opacity: 0.9;
    /* position: relative;
    top: 42px; */
}

.show-lock {
    background-image: url(lock.svg);
    height: 30px;
    width: 30px;
    filter: brightness(0) saturate(100%) invert(73%) sepia(1%) saturate(379%) hue-rotate(59deg) brightness(95%) contrast(96%);
}

.Polaris-Modal-Section .Polaris-Box {
    text-align: center;
}

.Polaris-Page-Header__TitleWrapper {
    text-align: center;
}

.react-toggle-track {
    width: 36px;
    height: 18px;
    background-color: #b5b5b5;
}

.react-toggle-thumb {
    width: 16px;
    height: 16px;
    border: none;
}

.toggle-paid-section~.Polaris-Grid {
    display: block;
}

.selectSpan {
    width: 25%;
    float: right;
}

.bothSelects {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2%;
}

.polaris_pagination {
    margin: 15px;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.custom-range-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
    width: 100%;
}

.noteee .customColorBox:nth-child(2) {
    top: -50px;
}

.range-width {
    width: 60%;
    margin-right: 1%;
}

.text-width {
    width: 18%;
    margin-right: 1%;

}

.text-pixel {
    width: 20%;
}



.endColorPicker .Polaris-Box {
    overflow: visible;
}

.demoCardColored .default-regular-btn,
.demoCardColored .default-active-btn,
.demoCardAloneIcon .default-regular-btn,
.demoCardAloneIcon .default-active-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid black;
    padding: 12px;
    background-color: black;
    color: white;
    width: 100%;
    min-width: 12.5rem;
}

.demoCardNonColored .default-regular-btn,
.demoCardNonColored .default-active-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid black;
    padding: 12px;
    background-color: transparent;
    color: black;
    width: 200px;
}


#registries {
    padding: 0px 1.5rem;
}

#registries .nav {
    padding: 22px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#registries .nav p {
    font-weight: 600;
    font-size: 15pt;
}

.Polaris-Button{
    border-radius: 8px !important;
    padding: 6px !important;
}

.Polaris-Button__Text {
    display: flex;
    align-items: center;
}

#registries .header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .icon {
    width: 15px;
}

#registries .vertical-line {
    width: 2px;
    height: 20px;
    background-color: gray;
}